GLM_MODEL="glm-4-flash-250414"
GLM_API_KEY="your-glm-token"
GLM_BASE_URL="https://open.bigmodel.cn/api/paas/v4"
DEEPSEEK_MODEL="deepseek-chat"
DEEPSEEK_API_KEY="your-deepseek-token"
DEEPSEEK_BASE_URL="https://api.deepseek.com/v1"
MATPLOTLIB="false"
STORAGE_SECRET="FzrYgL3sNZcT9D0MmivhTM62zzIweBzzW2P7Xu9qTHA"
