GLM_4F_MODEL="glm-4-flash-250414"
GLM_4F_API_KEY="your-token"
GLM_4F_BASE_URL="https://open.bigmodel.cn/api/paas/v4"
GLM_RERANK_MODEL="rerank"
GLM_RERANK_API_KEY="your-glm-token"
GLM_RERANK_BASE_URL="https://open.bigmodel.cn/api/paas/v4/rerank"
